.Container {
  background-color: #353b48;
  height: 100vh;
  color: white;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 0px 30px;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
